.block-footer {
	background-color: rgba(0, 0, 0, 0.198);
	width: 100%;
	height: 100px;
	display: block;
	position: relative;
	margin-top: -10px;
	padding-top: 10px;
}

.block-footer__social-block li {
	display: block;
	list-style-type: none;
}

.block-footer__social-block {
	display: flex;
	width: 144px;
	justify-content: space-between;
	top: -10px;
	position: absolute;
	left: -81%;
}

.wrapper-navigation {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.block-footer__menu-block {
	display: flex;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	margin-top: 18px;
	padding-left: 14px;
}

.block-footer__menu-block a {
	color: white;
	text-decoration: none;
	font-size: 13px;
	letter-spacing: 1px;
}

.block-footer__menu-block li {
	list-style-type: none;
}

.block-footer__menu-block ul {
	padding: 0;
}

.block-footer__document {
	text-align: center;
	color: rgba(255, 255, 255, 0.356);
	margin-top: 10px;
}

.block-footer__document p {
	margin: 0;
	padding: 0;
	margin-bottom: 2px;
	font-size: 13px;
}

@media (min-width: @tablet-width) and (max-width:1000px) {
	.block-footer__social-block {
		display: none;
	}
	.block-footer {
		padding-top: 40px;
	}
}

@media (min-width: @mobil-width) and (max-width:767px) {
	.wrapper-footer,
	.block-footer__menu-block {
		width: 320px;
	}
	.block-footer__menu-block {
		display: flex;
		flex-direction: column;
		padding-left: 0;
	}
	.wrapper-navigation {
		width: 320px;
		text-align: center;
	}
	.block-footer__social-block {
		display: none;
	}
}