.block-skills {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.397);
	border-bottom: 1px solid rgba(255, 255, 255, 0.212);
	margin-top: -676px;
}

.wrapper-skills {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.block-skills__conteiner-skills {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	font-size: 14px;
	color: rgb(255, 255, 255);
	line-height: 1.231;
	text-align: center;
	height: 128px;
	padding-top: 66px;
	width: 900px;
}

.conteiner-skills__skill-block {
	width: 160px;
}

.skill-one p {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.skill-three p {
	width: 120px;
	margin-left: auto;
	margin-right: auto;
}

.skill-one__legend,
.skill-two__legend,
.skill-three__legend,
.skill-four__legend {
	border: 1px solid rgb(144, 52, 52);
	background-color: rgb(34, 2, 8);
	color: white;
	display: none;
}

.skill-one:hover .skill-one__legend,
.skill-two:hover .skill-two__legend,
.skill-three:hover .skill-three__legend,
.skill-four:hover .skill-four__legend {
	display: block;
}

.skill-one,
.skill-two,
.skill-three,
.skill-four {
	cursor: pointer;
}

.skill-four::before,
.skill-three::before {
	content: "";
	width: 4px;
	height: 117px;
	background-image: url("../img/row.png");
	background-repeat: no-repeat;
	float: left;
}

.skill-five::before,
.skill-two::before {
	content: "";
	width: 4px;
	height: 117px;
	background-image: url("../img/row.png");
	background-repeat: no-repeat;
	float: left;
}

.skill-five img {
	margin-top: -54px;
	margin-left: -10px;
}

.skill-five {
	width: 230px;
}

.block-skills__legend {
	color: white;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 21px;
	width: 805px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 63px;
}

.block-skills__legend h3 {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

.block-skills__legend h2 {
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.legend__paragraph-store::after {
	content: "";
	width: 378px;
	height: 1px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.212);
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 38px;
}

.skill-two__legend {
	left: 50px;
}

.skill-three__legend {
	left: 10px;
}

.skill-four__legend {
	left: 35px;
}

@media (min-width: @tablet-width) and (max-width:1000px) {
	.block-skills__conteiner-skills {
		width: 768px;
	}
	.wrapper-skills {
		width: 768px;
		margin-top: 320px;
	}
	.block-skills__legend h3 {
		font-size: 20px;
		margin-bottom: 30px;
		margin-top: 30px;
		width: 768px;
	}
	.block-skills__legend h2 {
		font-size: 50px;
		padding-left: 0;
		width: 768px;
	}
	.block-skills__legend p {
		width: 700px;
		margin-left: 30px;
		padding-left: 0;
	}
	.block-skills__legend {
		width: 768px;
	}
	.skill-two:hover .skill-two__legend,
	.skill-one:hover .skill-one__legend,
	.skill-three:hover .skill-three__legend,
	.skill-four:hover .skill-four__legend {
		display: none;
	}
}

@media (min-width: @mobil-width) and (max-width:767px) {
	.wrapper-skills {
		width: 320px;
		padding: 0;
	}
	.block-skills__conteiner-skills {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 320px;
	}
	.skill-five {
		display: none;
	}
	.skill-one::before,
	.skill-two::before,
	.skill-three::before,
	.skill-four:before {
		display: none;
	}
	.skill-two:hover .skill-two__legend,
	.skill-one:hover .skill-one__legend,
	.skill-three:hover .skill-three__legend,
	.skill-four:hover .skill-four__legend {
		display: none;
	}
	.skill-one,
	.skill-two,
	.skill-three,
	.skill-four {
		margin: 0;
		padding: 0;
		width: 150px;
		cursor: default;
	}
	.block-skills__legend {
		width: 320px;
		margin-top: 120px;
	}
	.legend__paragraph-store::after {
		width: 280px;
	}
	.block-skills {
		padding-bottom: 0;
		margin-top: -800px;
	}
}